
/* Basic Styling */

body, html 
{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;

    font-family: "Open Sans", sans-serif;
    background-color: #7ba683; /* Same green background as before in PrimaryStyles*/
    display: flex;
    flex-direction: column;
}

.open-sans-font
{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.calendarContainer 
{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 0;
}



/* Header */

.calendarHeader 
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px;
    background-color: #376753; /* Background color of the header */
    color: white; /* Color of the header text */
    font-family: Georgia, serif;
    box-sizing: border-box;
}



.labelHideShow 
{
    background-color: #376753;
    border: 1px solid white;
    cursor: pointer;
}

.labelHideShow img 
{
    width: 34px;
    height: 34px;
}

.labelHideShow:hover
{
    background-color: #3e8e41;
}

.calendarHeader 
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px;
    background-color: #376753; /* Background color of the header */
    color: #fff; /* Color of the header text */
    font-family: Georgia, serif;
    box-sizing: border-box;
}

.calendarHeader h1 /* Removes the extra "space" above the calendar */
{
    margin: 0;
}

#prevButton, 
#nextButton 
{
    background-color: transparent;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
    transition: color 0.3s ease;
}

#prevButton:hover, 
#nextButton:hover 
{
    color: #ccc; /* Lighten text color on hover */
}

/* Dropdown Menu Styles */
.dropdown 

{
    position: relative;
    display: inline-block;
}



.userFunctions 
{
    /* Solution to keeping drop button functionality 
    and the search button correctly formated */
    display: flex;
    align-items: center;
    gap: 20px;
}

.dropdown .dropButton {
    background-color: #376753;
    color: white;
    border: 1px solid white;
}

.dropdown .optionsDropButton {
    background-color: white;
    color: white;
    border: 0px;
    cursor: pointer;
}

.dropdown img 
{
    width: 34px;
    height: 34px;
}

.optionsDropButton img:hover
{
    border-radius: 100%;
    background-color: #e0e0e0;
}

.dropdownContent
.dropdownContent {

    display: none;
    position: absolute;
    right: 0;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdownContent a 
{
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdownContent a:hover 
{
    background-color: #f1f1f1;
}


.dropdown:hover .dropdownContent 

{
    display: block;
}


.dropdown:hover .dropButton 
{
    background-color: #3e8e41;
}

.userFunctions .newEventBtn 
{
    background-color: #376753;
    border: 1px solid white;
    cursor: pointer;
}

.userFunctions .newEventBtn:hover 
{
    background-color: #3e8e41;
}

.userFunctions .newEventBtn img 
{
    width: 34px;
    height: 34px;
}

.userFunctions .customizeBtn
{
    background-color: #376753;
    border: 1px solid white;
    cursor: pointer;
}

.userFunctions .customizeBtn:hover 
{
    background-color: #3e8e41;
}

.userFunctions .customizeBtn img 
{
    width: 34px;
    height: 34px;
}

.userFunctions .searchBtn 
{
    background-color: #376753;
    border: 1px solid white;
    cursor: pointer;
}

.userFunctions .searchBtn:hover 
{
    background-color: #3e8e41;
}

.userFunctions .searchBtn img 
{
    width: 34px;
    height: 34px;
}

.mainContent
{
    width: 100%;
    height: calc(100% - 60px);
    display: flex;
    flex-direction: row;
}

.calendar 
{
    background-color: #fff; /* White background for calendar */
    border-radius: 0; /*Remove border-radius to make the calendar touch the edges*/
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.monthNavigation 
{
    width: 290px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #376753; /* Background color for month navigation */
    color: #f0f0f0; /* Color of month text */
    border-top: none; /* Remove top border-radius */
}

.monthNavigation h2 
{
    margin: 0 20px;
}

.monthNavigation button
{
    cursor: pointer;
}

.calendarBody 
{
    flex-grow: 1; /* Allowing the calendar to expand to fill any remaining vertical space */
    display: flex;
    flex-direction: column;
}

.weekdays 
{
    display: flex;
    justify-content: space-around;
    background-color: #ffffff; /* Colors the background of the weekday display */
    padding: 5px 0;
    border-bottom: 1px solid #ddd;
}

.weekdays div 
{
    flex: 1;
    text-align: center;
    font-weight: bold;
}

.days 
{
    flex-grow: 1;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-auto-rows: 1fr; /* Make rows fill the available space */

    /* gap: 1px;  Small gap between days */
}

.days div 
{
    display: flex;
    justify-content: center;

    /* align-items: center;*/

    align-items: top;

    padding: 10px;
    text-align: center;
    cursor: pointer; /* Changes the cursor to a pointer when hovering over the days */
    border: 1px solid #ddd; /* Add border around each day */
}

.days .otherMonth 
{
    color: #ccc; /* Sets the color for days not in current month */
}

.colorPickerModal 
{
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);
    padding-top: 60px;
    overflow: auto /* Ensures scroll wheel appears if modal goes off screen*/
}

.colorPickerModal-content 
{
    background-color: #fefefe;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    overflow-y: auto; /* Ensures scroll wheel appears if modal goes off screen*/
}

.closeColorPicker 
{
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.closeColorPicker:hover,
.closeColorPicker:focus 
{
    color: black; /* Gives the x a thicker color when hovered over */
    cursor: pointer; /* Changes the cursor to a pointer when hovering over the x */
}

emoji-picker
{
    width: 350px;
    height: 300px;
}

/* Dropdown Menu Styles */
.dropdown 
{
    position: relative;
    display: inline-block;
}

.userFunctions 
{
    /* Solution to keeping drop button functionality 
    and the search button correctly formated */
    display: flex;
    align-items: center;
    gap: 20px;
}

.dropdown .dropButton 
{
    background-color: #376753;
    color: white;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #fff; /* Border color around the dropdown button */
    cursor: pointer;
}

.dropdownContent
{
    display: none;
    position: absolute;
    right: 0;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.4);
    z-index: 1;
}

.dropdownContent a 
{
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdownContent a:hover 
{
    background-color: #f1f1f1;
}

.dropdown:hover .dropdownContent 
{
    display: block;
}

.dropdown:hover .dropButton 
{
    background-color: #3e8e41;
}

.userFunctions .searchBtn 
{
    background-color: #376753;
    border: 1px solid white;
    cursor: pointer;
}

.userFunctions .searchBtn:hover 
{
    background-color: #3e8e41;
}

.userFunctions .searchBtn img 
{
    width: 34px;
    height: 34px;
}

