.labelPanel
{
    overflow-y: auto; /* Allows Scrolling for overflow */
    display: block;
    background-color: white;
    width: 200px;
    padding: 20px;
    overflow-y: auto;
    position: relative;
}

.labelDown
{
    position: relative;
    display: inline-block;
    margin: 10px 0;
}

.labelBtn 
{
    display: flex;
    width: 150px;
    justify-content: space-between;
    background-color: white;
    border: none;
    cursor: pointer;
    font-size: 15px;
    font-weight: bold;
    padding: 5px 10px;
    transition: background-color 0.2s;
}

.labelBtn:hover 
{
    background-color: #f0f0f0;
}

.labelBtn:hover .verticleDots img
{
    display: flex;
}

.verticleDots
{
    display: inline;
}

.verticleDots img
{
    display: none;
    width: 17px;
    height: 17px;
}
.verticleDots img:hover
{
    border-radius: 100%;
    background-color: #e0e0e0;
}

.labelArrow
{
    padding-left: 10px;
}

.catOptions
{
    display: flex;
    align-items: center;
}

.labelMakerModal 
{
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);
    padding-top: 60px;
    overflow: auto /* Ensures scroll wheel appears if modal goes off screen*/
}

.labelMakerModal-content
{
    background-color: #fefefe;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
    overflow-y: auto; /* Ensures scroll wheel appears if modal goes off screen*/
}

.closeLabelMaker
{
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.closeLabelMaker:hover,
.closeLabelMaker:focus 
{
    color: black; /* Gives the x a thicker color when hovered over */
    cursor: pointer; /* Changes the cursor to a pointer when hovering over the x */
}

.labelContent 
{
    display: none;
    margin-top: 5px;
    padding: 5px;
}

.labelContent label
{
    display: flex;
    align-items: center;
    padding: 3px 0;
    font-size: 15px;
    cursor: pointer;
}

.labelContent label:hover img
{
    display: flex;
}

/* Necessary to change checkbox background */
.labelContent input[type="checkbox"]
{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 16px;
    height: 16px;
    border: 2px solid #000;
    border-radius: 3px;
    position: relative;
    vertical-align: middle;
    cursor: pointer;
    margin-right: 5px;
}

.labelContent input[type="checkbox"]:checked
{
    background-color: #007BFF;
}

.labelContent input[type="checkbox"]:checked::after
{
    content: '✔';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 10px;
    color: var(--checkmark-color, white);
}

.labelContent img
{
    display: none;
    width: 16px;
    height: 16px;
    vertical-align: middle;
    margin-left: auto;
    padding: 1px;
}

.labelContent img:hover
{
    border-radius: 100%;
    background-color: #e0e0e0;
}

#addCat 
{
    color: #666666;
    font-size: 12px;
    display: flex;
}

.catMakerModal
{
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);
    padding-top: 60px;
}

.catMakerModel-content
{
    display: flex;
    flex-direction: column;
    background-color: #fefefe;
    margin: 12% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 30%;
}

.catHeader
{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#categoryName
{
    margin-bottom: 4%;
}

.closeNewCat
{
    display: flex;
    justify-content: right;
    color: #aaa;
    font-size: 28px;
    font-weight: bold;
}

.closeNewCat:hover,
.closeNewCat:focus
{
    color: black; /* Gives the x a thicker color when hovered over */
    cursor: pointer; /* Changes the cursor to a pointer when hovering over the x */
}

.saveCat
{
    width: 20%;
    margin: 0;
}

.catEditorModal
{
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);
    padding-top: 60px;
}

.catEditorModel-content
{
    display: flex;
    flex-direction: column;
    background-color: #fefefe;
    margin: 12% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 30%;
}

.closeEditCat
{
    display: flex;
    justify-content: right;
    color: #aaa;
    font-size: 28px;
    font-weight: bold;
}

.closeEditCat:hover,
.closeEditCat:focus
{
    color: black; /* Gives the x a thicker color when hovered over */
    cursor: pointer; /* Changes the cursor to a pointer when hovering over the x */
}

.catConfirmBtns
{
    margin-top: 35px;
    width: 100%;
}

.saveEditCat,
.deleteCat
{
    width: 25%;
    margin-left: 0 !important;
}

.deleteCat
{
    margin-left: 30px !important;
}

.labelEditorModal 
{
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);
}

.labelEditorModal-content
{
    background-color: #fefefe;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 40%;  
}

.closeLabelEditor
{
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.closeLabelEditor:hover,
.closeLabelEditor:focus 
{
    color: black; /* Gives the x a thicker color when hovered over */
    cursor: pointer; /* Changes the cursor to a pointer when hovering over the x */
}

#labelEditName
{
    margin-bottom: 4%;
}

.labConfirmBtns
{
    margin-top: 35px;
    width: 100%;
}

.saveLabelEdit,
.deleteLab
{
    width: 25%;
    margin-left: 0 !important;
}

.deleteLab
{
    margin-left: 30px !important;
}