.labelPanel
{
    overflow-y: auto; /* Allows Scrolling for overflow */
    display: block;
    background-color: white;
    width: 200px;
    padding: 20px;
    overflow-y: auto;
}

.labelDown
{
    position: relative;
    display: inline-block;
    margin: 10px 0;
}

.labelBtn {
    display: flex;
    width: 150px;
    justify-content: space-between;
    background-color: white;
    border: none;
    cursor: pointer;
    font-size: 15px;
    font-weight: bold;
    padding: 5px 10px;
    transition: background-color 0.2s;
}

.labelBtn:hover {
    background-color: #f0f0f0;
}

.labelContent 
{
    display: none;
    margin-top: 5px;
    padding: 5px;
}

.labelContent label
{
    display: block;
    padding: 3px 0;
    font-size: 15px;
    cursor: pointer;
}

.addLabBtn
{
    font-size: 12px;
    padding-left: 3px;
    color: #666666;
    width: 120px;
}

#addCat 
{
    color: #666666;
    font-size: 12px;
    display: flex;
}

.inputBoxCat
{
    width: 100px;
    padding: 3px;
    margin-right: 5px;
}

.submitButtonCat
{
    background-color: white;
    border: 1px solid black;
    cursor: pointer;
}

.submitButtonCat:hover
{
    background-color: #e0e0e0;
}

.inputBoxLab
{
    width: 80px;
    padding: 3px;
    margin-right: 5px;
}

.submitButtonLab
{
    background-color: white;
    border: 1px solid black;
    cursor: pointer;
}

.submitButtonLab:hover
{
    background-color: #e0e0e0;
} 